<div class="h-screen relative">
    <div class="h-full w-full relative z-10">
        <h2 class="text-sm font-bold">{{ section.settings.brand_name }}</h2>
        <h4 class="">{{ section.settings.heading }}</h4>
        <p class="">{{ section.settings.sub_heading }}</p>
    </div>  
        
    <img class="absolute inset-0 h-full w-full object-center object-cover" src="{{ section.settings.hero_banner_image | img_url: 'master' }}" alt="shopify image">

</div>

{% schema %}
    {
        "name": "Hero Banner",
        "tag": "section",
        "settings": [
            {
                "id": "brand_name",
                "type": "text",
                "label": "Brand Name",
                "default": "Your Brand Name"
            },
            {
                "id": "heading",
                "type": "text",
                "label": "Heading",
                "default": "Your Landing page Heading"
            },
            {
                "id": "sub_heading",
                "type": "text",
                "label": "Sub Heading",
                "default": "Your sub heading"
            },
            {
                "id": "hero_banner_image",
                "type": "image_picker",
                "label": "Background Image"
            }
        ]
    }
{% endschema %}