{% layout 'landing' %}

<div>
    <h1 class="sr-only">{{ page.title }}</h1>
     
    {% comment %}
        Add your landig page section here
    {% endcomment %}

    {% section 'landing-page-hero' %}

</div>
